<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137199633337-31g9ku36nd7fsvh66i2ssf8drt32cb9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137199633337-31g9ku36nd7fsvh66i2ssf8drt32cb9b</string>
	<key>API_KEY</key>
	<string>AIzaSyCj_0c2l7CPJOs9pJJdfqdKkh1uVbHiShU</string>
	<key>GCM_SENDER_ID</key>
	<string>137199633337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chealth</string>
	<key>PROJECT_ID</key>
	<string>chathealth-3e23e</string>
	<key>STORAGE_BUCKET</key>
	<string>chathealth-3e23e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137199633337:ios:882a7f2aa3a5b18fa82c68</string>
</dict>
</plist>